#box-container {
    position: relative;
    height: 97.5vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 3px;
}

#profile-icon {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    right: 200px;
    top: 150px;
    object-fit: cover;
    position: absolute;
    border: 5px solid black
}

#circle1 {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
}

#circle2 {
    width: 160px;
    height: 160px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
}

#circle3 {
    background-color: white;
    width: 100px;
    height: 100px;
    bottom: 110px;
    position: absolute;
    right: 440px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 80px;
    height: 80px;
    bottom: 120px;
    position: absolute;
    right: 450px;
    border-radius: 50%;
    z-index: 4;
}

#greeting {
    font-size: 40px;
    position: absolute;
    color: white;
    font-family: 'Space Mono', monospace;
    left: 100px;
    top: 280px;
}

#name {
    font-size: 40px;
    position: absolute;
    font-family: 'Sriracha';
    left: 100px;
    top: 350px;
    font-weight: lighter;
    background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#button1 {
    position: absolute;
    background-color: #D9D9D9;
    width: 400px;
    height: 50px;
    border-radius: 200px;
    font-size: 30px;
    font-family: 'Space Mono', monospace;
    text-align: left;
    padding-left: 20px;
    color: #653190;
    left: 100px;
    font-weight: bold;
    bottom: 100px;
}

#button2 {
    position: absolute;
    background-color: #653190;
    width: 100px;
    height: 50px;
    border-radius: 0px 200px 200px 0px;
    left: 400px;
    bottom: 100px;
}

#arrow1 {
    position: absolute;
    bottom: 60px;
    left: 425px;
    color: rgb(230, 228, 228);
    font-size: 50px;
    z-index: 1;
}

#sc1 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 600px;
}

#sc2 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 575px;
}

#sc3 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 550px;
}

#sc4 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 75px;
}

#sc5 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 100px;
}

#sc6 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 125px;
}

@media (max-width: 426px) {
    #circle1 {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: -60px;
        left: -60px;
    }
    
    #circle2 {
        width: 125px;
        height: 125px;
        background-color: #0A0514;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: -50px;
    }

    #circle3 {
        background-color: white;
        width: 50px;
        height: 50px;
        top: 200px;
        position: absolute;
        left: 125px;
        border-radius: 50%;
        z-index: 3;
    }
    
    #circle4 {
        background-color: #0A0514;
        width: 40px;
        height: 40px;
        top: 205px;
        position: absolute;
        left: 130px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 80px;
    }
    
    #sc2 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 60px;
    }
    
    #sc3 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 40px;
    }
    
    #sc4 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    
    #sc5 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 50px;
    }
    
    #sc6 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 70px;
    }

    #profile-icon {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        right: 125px;
        top: 75px;
        object-fit: cover;
        position: absolute;
        border: 5px solid black
    }

    #greeting {
        font-size: 30px;
        position: absolute;
        color: white;
        font-family: 'Space Mono', monospace;
        left: 70px;
        top: 250px;
    }
    
    #name {
        font-size: 23px;
        position: absolute;
        font-family: 'Sriracha';
        left: 80px;
        top: 300px;
        font-weight: lighter;
        background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    #button1 {
        position: absolute;
        background-color: #D9D9D9;
        width: 175px;
        height: 35px;
        border-radius: 200px 0px 0px 200px;
        font-size: 20px;
        font-family: 'Space Mono', monospace;
        text-align: left;
        padding-left: 20px;
        color: #653190;
        left: 70px;
        font-weight: bold;
        bottom: 100px;
    }
    
    #button2 {
        position: absolute;
        background-color: #653190;
        width: 70px;
        height: 35px;
        border-radius: 0px 200px 200px 0px;
        left: 243px;
        bottom: 100px;
    }
    
    #arrow1 {
        position: absolute;
        bottom: 65px;
        left: 260px;
        color: rgb(230, 228, 228);
        font-size: 40px;
        z-index: 1;
    }
}