#box-container {
    position: relative;
    height: 97.5vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 3px;
}

#page2-icon{
    width: 280px;
    height: 280px;
    border-radius: 100%;
    left: 50px;
    top: 130px;
    object-fit: cover;
    position: absolute;
    border: 5px solid black
}

#circle1 {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
}

#circle2 {
    width: 160px;
    height: 160px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
}

#circle3 {
    background-color: white;
    width: 200px;
    height: 200px;
    bottom: -100px;
    position: absolute;
    right: -100px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 160px;
    height: 160px;
    bottom: -80px;
    position: absolute;
    right: -80px;
    border-radius: 50%;
    z-index: 4;
}

#sc1 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 150px;
}

#sc2 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 125px;
}

#sc3 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 100px;
}

#sc4 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 75px;
}

#sc5 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 100px;
}

#sc6 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 125px;
}

#about-me {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    position: absolute;
    font-size: 20px;
    top: 50px;
    left: 370px;
}

#about-me-text {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    position: absolute;
    left: 370px;
    top: 100px;
}

#square1 {
    background-color: #C995B8;
    height: 40px;
    width: 200px;
    position: absolute;
    top: 200px;
    left: 650px;
}

#work-exp {
    font-size: 20px;
    position: absolute;
    top: 185px;
    left: 660px;
    font-family: 'Space Mono', monospace;
}

#premiere-text {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    font-size: 20px;
    position: absolute;
    top: 220px;
    left: 370px;
}

#premiere-content {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 270px;
    left: 370px;
    text-align: center;
}

#skills {
    font-size: 20px;
    position: absolute;
    bottom: 230px;
    left: 710px;
    font-family: 'Space Mono', monospace;
}

#square2 {
    background-color: #C995B8;
    height: 40px;
    width: 95px;
    position: absolute;
    bottom: 240px;
    left: 700px;
}

#python {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    font-size: 20px;
    position: absolute;
    bottom: 170px;
    left: 370px;
}

#python-content {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 15px;
    position: absolute;
    bottom: 160px;
    left: 370px;
}

#frontend {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    position: absolute;
    font-size: 20px;
    bottom: 100px;
    left: 370px;
}

#frontend-content {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 18px;
    position: absolute;
    bottom: 80px;
    left: 370px;
}

#button1 {
    position: absolute;
    bottom: 130px;
    background-color: #D9D9D9;
    left: 50px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 200px;
    height: 50px;
}

#button2 {
    position: absolute;
    bottom: 70px;
    background-color: #D9D9D9;
    left: 150px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 200px;
    height: 50px;
}

#button3 {
    position: absolute;
    bottom: 130px;
    background-color: #653190;
    left: 250px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 100px;
    height: 50px;
}

#button4 {
    position: absolute;
    bottom: 70px;
    background-color: #653190;
    left: 50px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 100px;
    height: 50px;
}

#arrow1 {
    position: absolute;
    bottom: 45px;
    left: 280px;
    color: rgb(230, 228, 228);
    font-size: 50px;
    z-index: 1;
}

#arrow2 {
    position: absolute;
    bottom: -20px;
    left: 70px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 5px;
    z-index: 1;
}

#continue {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 135px;
    left: 70px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

#go-back {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 75px;
    left: 180px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 426px) {
    #circle1 {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: -60px;
        left: -60px;
    }
    
    #circle2 {
        width: 125px;
        height: 125px;
        background-color: #0A0514;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: -50px;
    }

    #circle3 {
        background-color: white;
        width: 125px;
        height: 125px;
        bottom: -50px;
        position: absolute;
        right: -50px;
        border-radius: 50%;
        z-index: 3;
    }
    
    #circle4 {
        background-color: #0A0514;
        width: 100px;
        height: 100px;
        bottom: -40px;
        position: absolute;
        right: -40px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 80px;
    }
    
    #sc2 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 60px;
    }
    
    #sc3 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 40px;
    }
    
    #sc4 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    
    #sc5 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 50px;
    }
    
    #sc6 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 70px;
    }

    #page2-icon{
        width: 100px;
        height: 100px;
        border-radius: 100%;
        left: 140px;
        top: 60px;
        object-fit: cover;
        position: absolute;
        border: 5px solid black
    }

    #about-me {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 15px;
        top: 160px;
        left: 20px;
    }
    
    #about-me-text {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 10px;
        position: absolute;
        left: 20px;
        top: 200px;
    }
    
    #square1 {
        background-color: #C995B8;
        height: 30px;
        width: 150px;
        position: absolute;
        top: 250px;
        left: 125px;
    }
    
    #work-exp {
        font-size: 15px;
        position: absolute;
        top: 240px;
        left: 130px;
        font-family: 'Space Mono', monospace;
    }
    
    #premiere-text {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        font-size: 15px;
        position: absolute;
        top: 260px;
        left: 20px;
    }
    
    #premiere-content {
        color: white;
        font-size: 8px;
        position: absolute;
        top: 300px;
        left: 15px;
        text-align: center;
    }
    
    #skills {
        font-size: 15px;
        position: absolute;
        bottom: 250px;
        left: 170px;
        font-family: 'Space Mono', monospace;
    }
    
    #square2 {
        background-color: #C995B8;
        height: 30px;
        width: 100px;
        position: absolute;
        bottom: 260px;
        left: 150px;
    }
    
    #python {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        font-size: 15px;
        position: absolute;
        bottom: 210px;
        left: 20px;
    }
    
    #python-content {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 10px;
        position: absolute;
        bottom: 190px;
        left: 20px;
    }
    
    #frontend {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 15px;
        bottom: 150px;
        left: 20px;
    }
    
    #frontend-content {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 10px;
        position: absolute;
        bottom: 135px;
        left: 20px;
    }
    
    #button1 {
        position: absolute;
        bottom: 100px;
        background-color: #D9D9D9;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 150px;
        height: 35px;
    }
    
    #button2 {
        position: absolute;
        bottom: 60px;
        background-color: #D9D9D9;
        left: 150px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 160px;
        height: 35px;
    }
    
    #button3 {
        position: absolute;
        bottom: 100px;
        background-color: #653190;
        left: 230px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 75px;
        height: 35px;
    }
    
    #button4 {
        position: absolute;
        bottom: 60px;
        background-color: #653190;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 35px;
    }
    
    #arrow1 {
        position: absolute;
        bottom: 20px;
        left: 250px;
        color: rgb(230, 228, 228);
        font-size: 45px;
        z-index: 1;
    }
    
    #arrow2 {
        position: absolute;
        bottom: -25px;
        left: 90px;
        color: rgb(255, 255, 255);
        font-size: 45px;
        padding: 5px;
        z-index: 1;
    }
    
    #continue {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 105px;
        left: 100px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }
    
    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 60px;
        left: 190px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }
}