#box-container {
    position: relative;
    height: 95vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 1%;
    padding: 10px;
}

#pogi {
    width: 1300px;
    height: 1300px;
    border-radius: 100%;
    border: 20px #0A0514 solid;
    position: absolute;
    left: 1000px;
    top: 750px;
}

#gmail {
    background: white;
    width: 1600px;
    height: 200px;
    border-radius: 200px;
    position: absolute;
    top: 1200px;
    left: 2600px;
}

#gmail1 {
    font-size: 100px;
    color: #653190;
    font-family: 'Space Mono', monospace;
    position: absolute;
    bottom: 1300px;
    left: 2700px;
}

#fbicon {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    bottom: 1000px;
    left: 2700px;
}

#githubicon {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    bottom: 1000px;
    left: 3300px;
}

#igicon {
    height: 300px;
    width: 300px;
    position: absolute;
    border-radius: 50%;
    bottom: 1000px;
    left: 3900px;
}

#circle1 {
    width: 1000px;
    height: 1000px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -250px;
    left: -250px;
}

#circle2 {
    width: 820px;
    height: 820px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -150px;
    left: -150px;
}

#circle3 {
    background-color: white;
    width: 750px;
    height: 750px;
    bottom: -400px;
    position: absolute;
    right: -400px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 500px;
    height: 500px;
    bottom: -250px;
    position: absolute;
    right: -250px;
    border-radius: 50%;
    z-index: 4;
}

#sc1 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 900px;
}

#sc2 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 800px;
}

#sc3 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 700px;
}

#sc4 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 200px;
    left: 300px;
}

#sc5 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 200px;
    left: 400px;
}

#sc6 {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 200px;
    left: 500px;
}

#button2 {
    position: absolute;
    bottom: 275px;
    background-color: #ffffff;
    left: 2500px;
    justify-content: space-between;
    border-radius: 200px;
    width: 1100px;
    height: 200px;
}

#button4 {
    position: absolute;
    bottom: 275px;
    background-color: #653190;
    left: 2500px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 400px;
    height: 200px;
}

#arrow2 {
    position: absolute;
    bottom: -175px;
    left: 2600px;
    color: rgb(255, 255, 255);
    font-size: 250px;
    padding: 5px;
    z-index: 1;
}

#go-back {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 300px;
    left: 3000px;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
}

@media (max-width: 576px) {
    #box-container {
        height: 94vh;
        margin: 5px;
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow2 {
        position: absolute;
        bottom: -30px;
        left: 60px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 170px;
        position: absolute;
        font-size: 20px;
    }

    #pogi {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: absolute;
        left: 100px;
        top: 125px;
        border: 5px black solid;
    }

    #contacts {
        font-size: 20px;
        position: absolute;
        color: #B544B1;
        left: 125px;
        top: 280px;
        font-family: 'Space Mono', monospace;
    }

    #gmail {
        position: absolute;
        top: 350px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #gmail1 {
        font-size: 15px;
        position: absolute;
        color: #653190;
        left: 75px;
        bottom: 250px;
        font-family: 'Space Mono', monospace;
    }

    #fbicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 70px;
        bottom: 190px;
    }

    #githubicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 155px;
        bottom: 190px;
    }

    #igicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 240px;
        bottom: 190px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) and (orientation: landscape) {
    #box-container {
        height: 94vh;
        margin: 5px;
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 250px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 250px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow2 {
        position: absolute;
        bottom: -30px;
        left: 260px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 360px;
        position: absolute;
        font-size: 20px;
    }

    #pogi {
        width: 150px;
        height: 150px;
        border-radius: 100%;
        position: absolute;
        left: 300px;
        top: 125px;
        border: 5px black solid;
    }

    #contacts {
        font-size: 20px;
        position: absolute;
        color: #B544B1;
        left: 330px;
        top: 280px;
        font-family: 'Space Mono', monospace;
    }

    #gmail {
        position: absolute;
        top: 350px;
        background-color: #ffffff;
        left: 250px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #gmail1 {
        font-size: 15px;
        position: absolute;
        color: #653190;
        left: 270px;
        bottom: 250px;
        font-family: 'Space Mono', monospace;
    }

    #fbicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 260px;
        bottom: 190px;
    }

    #githubicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 350px;
        bottom: 190px;
    }

    #igicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 440px;
        bottom: 190px;
    }
}