#box-container {
    position: relative;
    height: 94vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 1%;
    padding: 10px;
}

#circle1 {
    width: 750px;
    height: 750px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -350px;
    left: -350px;
}

#circle2 {
    width: 600px;
    height: 600px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -280px;
    left: -280px;
}

#circle3 {
    background-color: white;
    width: 500px;
    height: 500px;
    bottom: -250px;
    position: absolute;
    right: -250px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 400px;
    height: 400px;
    bottom: -200px;
    position: absolute;
    right: -200px;
    border-radius: 50%;
    z-index: 4;
}

#typingkeyb {
    width: 1750px;
    height: 500px;
    position: absolute;
    border: 20px #0A0514 solid;
    left: 1050px;
    top: 100px;
    border-radius: 500px;
    object-fit: cover;
}

#services {
    font-size: 125px;
    color: #B544B1;
    font-family: 'Space Mono' , monospace;
    position: absolute;
    left: 1350px;
    top: 500px;
}

#graphicdesignicon {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    left: 1100px;
    bottom: 800px;
}

#graphicdesigning {
    font-size: 75px;
    color: skyblue;
    font-family: 'Sriracha', monospace;
    position: absolute;
    left: 900px;
    bottom: 550px;
}

#webdevicon {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 1900px;
    bottom: 800px;
}

#webdesigning {
    font-size: 75px;
    color: skyblue;
    font-family: 'Sriracha', monospace;
    position: absolute;
    left: 1750px;
    bottom: 550px;
}

#pythonlogo {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 2700px;
    bottom: 800px;
}

#datamanipulation {
    font-size: 75px;
    color: skyblue;
    font-family: 'Sriracha', monospace;
    position: absolute;
    left: 2500px;
    bottom: 550px;
}

#sc1 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 350px;
}

#sc2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 275px;
}

#sc3 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 200px;
}

#sc4 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 150px;
}

#sc5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 225px;
}

#sc6 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

#button1 {
    position: absolute;
    bottom: 375px;
    background-color: #ffffff;
    left: 1500px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 500px;
    height: 150px;
}

#button2 {
    position: absolute;
    bottom: 200px;
    background-color: #ffffff;
    left: 1800px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 500px;
    height: 150px;
}

#button3 {
    position: absolute;
    bottom: 375px;
    background-color: #653190;
    left: 2000px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 300px;
    height: 150px;
}

#button4 {
    position: absolute;
    bottom: 200px;
    background-color: #653190;
    left: 1500px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 300px;
    height: 150px;
}

#arrow1 {
    position: absolute;
    bottom: 60px;
    left: 2050px;
    color: rgb(230, 228, 228);
    font-size: 175px;
    z-index: 1;
}

#arrow2 {
    position: absolute;
    bottom: -110px;
    left: 1550px;
    color: rgb(255, 255, 255);
    font-size: 175px;
    padding: 5px;
    z-index: 1;
}

#continue {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 400px;
    left: 1600px;
    position: absolute;
    font-size: 75px;
    font-weight: bold;
}

#go-back {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 225px;
    left: 1900px;
    position: absolute;
    font-size: 75px;
    font-weight: bold;
}

@media (min-width: 375px) and (max-height: 667px) {
    #box-container {
        height: 94vh;
        margin: 5px;
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #typingkeyb {
        width: 250px;
        height: 80px;
        position: absolute;
        left: 50px;
        top: 90px;
        object-fit: cover;
        border-radius: 50px;
        border: 5px black solid;
    }

    #services {
        color: #B544B1;
        font-family: 'Space Mono' , monospace;
        top: 160px;
        left: 80px;
        position: absolute;
        font-size: 20px;
    }

    #graphicdesignicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 150px;
        top: 225px;
    }

    #graphicdesigning {
        font-size: 18px;
        position: absolute;
        left: 109px;
        top: 250px;
        font-family: 'Sriracha', monospace;
        color: skyblue;
    }

    #webdevicon {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        left: 150px;
        top: 310px;
    }

    #webdesigning {
        font-size: 18px;
        position: absolute;
        left: 115px;
        bottom: 230px;
        font-family: 'Sriracha', monospace;
        color: skyblue;
    }

    #pythonlogo {
        width: 50px;
        height: 50px;
        position: absolute;
        object-fit: cover;
        left: 150px;
        bottom: 200px;
    }

    #datamanipulation {
        font-size: 18px;
        position: absolute;
        left: 110px;
        bottom: 140px;
        font-family: 'Sriracha', monospace;
        color: skyblue;
    }

    #button1 {
        position: absolute;
        bottom: 110px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button3 {
        position: absolute;
        bottom: 110px;
        background-color: #653190;
        left: 225px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 75px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow1 {
        position: absolute;
        bottom: 15px;
        left: 230px;
        color: rgb(230, 228, 228);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #arrow2 {
        position: absolute;
        bottom: -30px;
        left: 60px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #continue {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 115px;
        left: 80px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 170px;
        position: absolute;
        font-size: 20px;
    }
}

@media (max-width: 414px) and (min-height: 896px) {
    #box-container {
        height: 96vh;
        margin: 5px
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #typingkeyb {
        width: 300px;
        height: 100px;
        position: absolute;
        left: 40px;
        top: 150px;
        object-fit: cover;
        border-radius: 50px;
        border: 5px black solid;
    }

    #services {
        color: #B544B1;
        font-family: 'Space Mono' , monospace;
        top: 240px;
        left: 75px;
        position: absolute;
        font-size: 25px;
    }

    #graphicdesignicon {
        width: 75px;
        height: 75px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 150px;
        top: 320px;
    }

    #graphicdesigning {
        font-size: 25px;
        position: absolute;
        left: 100px;
        top: 360px;
        font-family: 'Sriracha', monospace;
        color: skyblue;
    }

    #webdevicon {
        width: 75px;
        height: 75px;
        position: absolute;
        object-fit: cover;
        left: 150px;
        top: 450px;
    }

    #webdesigning {
        font-size: 25px;
        position: absolute;
        left: 110px;
        bottom: 270px;
        font-family: 'Sriracha', monospace;
        color: skyblue;
    }

    #pythonlogo {
        width: 75px;
        height: 75px;
        position: absolute;
        object-fit: cover;
        left: 150px;
        bottom: 220px;
    }

    #datamanipulation {
        font-size: 25px;
        position: absolute;
        left: 90px;
        bottom: 140px;
        font-family: 'Sriracha', monospace;
        color: skyblue;
    }

    #button1 {
        position: absolute;
        bottom: 110px;
        background-color: #ffffff;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 150px;
        height: 40px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 155px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 150px;
        height: 40px;
    }

    #button3 {
        position: absolute;
        bottom: 110px;
        background-color: #653190;
        left: 230px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 75px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow1 {
        position: absolute;
        bottom: 18px;
        left: 235px;
        color: rgb(230, 228, 228);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #arrow2 {
        position: absolute;
        bottom: -25px;
        left: 90px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #continue {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 115px;
        left: 100px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 190px;
        position: absolute;
        font-size: 20px;
    }
}