#box-container {
    position: relative;
    height: 97.5vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 3px;
}

#circle1 {
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: -50px;
}

#circle2 {
    width: 160px;
    height: 160px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -30px;
    left: -30px;
}

#circle3 {
    background-color: white;
    width: 200px;
    height: 200px;
    bottom: -100px;
    position: absolute;
    right: -100px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 160px;
    height: 160px;
    bottom: -80px;
    position: absolute;
    right: -80px;
    border-radius: 50%;
    z-index: 4;
}

#sc1 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 150px;
}

#sc2 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 125px;
}

#sc3 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    right: 100px;
}

#sc4 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 75px;
}

#sc5 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 100px;
}

#sc6 {
    width: 15px;
    height: 15px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    left: 125px;
}

#typingkeyb {
    width: 600px;
    height: 175px;
    position: absolute;
    border: 20px #0A0514 solid;
    left: 350px;
    top: 20px;  
    border-radius: 500px;
    object-fit: cover;
}

#services {
    font-size: 50px;
    color: #B544B1;
    font-family: 'Space Mono' , monospace;
    position: absolute;
    left: 425px;
    top: 170px;
}

#graphicdesignicon {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    left: 350px;
    bottom: 250px;
}

#graphicdesigning {
    font-size: 30px;
    font-family: 'Sriracha', monospace;
    position: absolute;
    left: 280px;
    bottom: 150px;
    background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#webdevicon {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 650px;
    bottom: 250px;
}

#webdesigning {
    font-size: 30px;
    font-family: 'Sriracha', monospace;
    position: absolute;
    left: 580px;
    bottom: 150px;
    background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#pythonlogo {
    width: 75px;
    height: 75px;
    position: absolute;
    left: 920px;
    bottom: 250px;
}

#datamanipulation {
    font-size: 30px;
    font-family: 'Sriracha', monospace;
    position: absolute;
    left: 850px;
    bottom: 150px;
    background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#button1 {
    position: absolute;
    bottom: 100px;
    background-color: #D9D9D9;
    left: 500px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 200px;
    height: 50px;
}

#button2 {
    position: absolute;
    bottom: 40px;
    background-color: #D9D9D9;
    left: 600px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 200px;
    height: 50px;
}

#button3 {
    position: absolute;
    bottom: 100px;
    background-color: #653190;
    left: 700px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 100px;
    height: 50px;
}

#button4 {
    position: absolute;
    bottom: 40px;
    background-color: #653190;
    left: 500px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 100px;
    height: 50px;
}

#arrow1 {
    position: absolute;
    bottom: 15px;
    left: 725px;
    color: rgb(230, 228, 228);
    font-size: 50px;
    z-index: 1;
}

#arrow2 {
    position: absolute;
    bottom: -50px;
    left: 520px;
    color: rgb(255, 255, 255);
    font-size: 50px;
    padding: 5px;
    z-index: 1;
}

#continue {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 105px;
    left: 525px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

#go-back {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 45px;
    left: 625px;
    position: absolute;
    font-size: 30px;
    font-weight: bold;
}

@media (max-width: 426px) {
    #circle1 {
        width: 150px;
        height: 150px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: -60px;
        left: -60px;
    }
    
    #circle2 {
        width: 125px;
        height: 125px;
        background-color: #0A0514;
        border-radius: 50%;
        position: absolute;
        top: -50px;
        left: -50px;
    }

    #circle3 {
        background-color: white;
        width: 125px;
        height: 125px;
        bottom: -50px;
        position: absolute;
        right: -50px;
        border-radius: 50%;
        z-index: 3;
    }
    
    #circle4 {
        background-color: #0A0514;
        width: 100px;
        height: 100px;
        bottom: -40px;
        position: absolute;
        right: -40px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 80px;
    }
    
    #sc2 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 60px;
    }
    
    #sc3 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        top: 30px;
        right: 40px;
    }
    
    #sc4 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    
    #sc5 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 50px;
    }
    
    #sc6 {
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        bottom: 30px;
        left: 70px;
    }

    #typingkeyb {
        width: 250px;
        height: 75px;
        position: absolute;
        border: 5px #0A0514 solid;
        left: 70px;
        top: 70px;
        border-radius: 500px;
        object-fit: cover;
    }
    
    #services {
        font-size: 20px;
        color: #B544B1;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        left: 100px;
        top: 140px;
    }
    
    #graphicdesignicon {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: absolute;
        left: 175px;
        top: 200px;
    }
    
    #graphicdesigning {
        font-size: 20px;
        font-family: 'Sriracha', monospace;
        position: absolute;
        left: 125px;
        top: 230px;
        background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #webdevicon {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 175px;
        top: 300px;
    }
    
    #webdesigning {
        font-size: 20px;
        font-family: 'Sriracha', monospace;
        position: absolute;
        left: 130px;
        bottom: 230px;
        background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #pythonlogo {
        width: 50px;
        height: 50px;
        position: absolute;
        left: 175px;
        bottom: 200px;
    }
    
    #datamanipulation {
        font-size: 20px;
        font-family: 'Sriracha', monospace;
        position: absolute;
        left: 120px;
        bottom: 130px;
        background: linear-gradient(to right, skyblue, rgb(201, 229, 240));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    #button1 {
        position: absolute;
        bottom: 100px;
        background-color: #D9D9D9;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 150px;
        height: 35px;
    }
    
    #button2 {
        position: absolute;
        bottom: 60px;
        background-color: #D9D9D9;
        left: 150px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 160px;
        height: 35px;
    }
    
    #button3 {
        position: absolute;
        bottom: 100px;
        background-color: #653190;
        left: 230px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 75px;
        height: 35px;
    }
    
    #button4 {
        position: absolute;
        bottom: 60px;
        background-color: #653190;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 35px;
    }
    
    #arrow1 {
        position: absolute;
        bottom: 20px;
        left: 250px;
        color: rgb(230, 228, 228);
        font-size: 45px;
        z-index: 1;
    }
    
    #arrow2 {
        position: absolute;
        bottom: -25px;
        left: 90px;
        color: rgb(255, 255, 255);
        font-size: 45px;
        padding: 5px;
        z-index: 1;
    }
    
    #continue {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 105px;
        left: 100px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }
    
    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 60px;
        left: 190px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }
}