#box-container {
    position: relative;
    height: 94vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 1%;
    padding: 10px;
}

#contacts {
    font-size: 125px;
    position: absolute;
    color: #B544B1;
    font-family: 'Space Mono', monospace;
    left: 1700px;
    top: 100px;
}

#pogi {
    width: 900px;
    height: 900px;
    border-radius: 100%;
    border: 20px #0A0514 solid;
    position: absolute;
    left: 800px;
    top: 400px;
}

#gmail {
    background: white;
    width: 1200px;
    height: 140px;
    border-radius: 200px;
    position: absolute;
    top: 700px;
    left: 1800px;
    font-size: 70px;
    font-family: 'Space Mono', monospace;
    color: #653190;
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}

#fbicon {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    bottom: 750px;
    left: 1850px;
}

#githubicon {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    bottom: 750px;
    left: 2300px;
}

#igicon {
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    bottom: 750px;
    left: 2750px;
}

#circle1 {
    width: 750px;
    height: 750px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -350px;
    left: -350px;
}

#circle2 {
    width: 600px;
    height: 600px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -280px;
    left: -280px;
}

#circle3 {
    background-color: white;
    width: 500px;
    height: 500px;
    bottom: -250px;
    position: absolute;
    right: -250px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 400px;
    height: 400px;
    bottom: -200px;
    position: absolute;
    right: -200px;
    border-radius: 50%;
    z-index: 4;
}

#sc1 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 350px;
}

#sc2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 275px;
}

#sc3 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 200px;
}

#sc4 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 150px;
}

#sc5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 225px;
}

#sc6 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

#button2 {
    position: absolute;
    bottom: 200px;
    background-color: #ffffff;
    left: 2000px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 500px;
    height: 150px;
}

#button4 {
    position: absolute;
    bottom: 200px;
    background-color: #653190;
    left: 1700px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 300px;
    height: 150px;
}

#arrow2 {
    position: absolute;
    bottom: -110px;
    left: 1750px;
    color: rgb(255, 255, 255);
    font-size: 175px;
    padding: 5px;
    z-index: 1;
}

#go-back {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 225px;
    left: 2100px;
    position: absolute;
    font-size: 75px;
    font-weight: bold;
}

@media (max-width: 768px) {
    #box-container {
        height: 96vh;
        margin: 5px
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow2 {
        position: absolute;
        bottom: -30px;
        left: 60px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 170px;
        position: absolute;
        font-size: 20px;
    }

    #pogi {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        position: absolute;
        left: 90px;
        top: 175px;
        border: 5px black solid;
    }

    #contacts {
        font-size: 30px;
        position: absolute;
        color: #B544B1;
        left: 125px;
        top: 360px;
        font-family: 'Space Mono', monospace;
    }

    #gmail {
        position: absolute;
        top: 450px;
        background-color: #ffffff;
        left: 75px;
        text-align: center;
        border-radius: 200px;
        font-weight: bold;
        font-size: 15px;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 10px;
        height: 20px;
    }

    #fbicon {
        width: 65px;
        height: 65px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 75px;
        bottom: 290px;
    }

    #githubicon {
        width: 65px;
        height: 65px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 165px;
        bottom: 290px;
    }

    #igicon {
        width: 65px;
        height: 65px;
        position: absolute;
        object-fit: cover;
        border-radius: 50%;
        left: 260px;
        bottom: 290px;
    }
}