#box-container {
    position: relative;
    height: 94vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 1%;
    padding: 10px;
}

#profile-icon {
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    right: 500px;
    top: 300px;
    object-fit: cover;
    position: absolute;
    border: 20px solid black
}

#circle1 {
    width: 750px;
    height: 750px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -350px;
    left: -350px;
}

#circle2 {
    width: 600px;
    height: 600px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -280px;
    left: -280px;
}

#circle3 {
    background-color: white;
    width: 300px;
    height: 300px;
    bottom: 350px;
    position: absolute;
    right: 1100px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 230px;
    height: 230px;
    bottom: 385px;
    position: absolute;
    right: 1135px;
    border-radius: 50%;
    z-index: 4;
}

#greeting {
    font-size: 140px;
    position: absolute;
    color: white;
    font-family: 'Space Mono', monospace;
    left: 200px;
    top: 650px;
}

#name {
    font-size: 140px;
    position: absolute;
    color: skyblue;
    font-family: 'Sriracha';
    left: 200px;
    top: 850px;
    font-weight: lighter;
}

#button1 {
    position: absolute;
    background-color: white;
    width: 1400px;
    height: 175px;
    border-radius: 200px;
    font-size: 115px;
    font-family: 'Space Mono', monospace;
    text-align: left;
    padding-left: 100px;
    color: #653190;
    left: 200px;
    font-weight: bold;
    bottom: 400px;
}

#button2 {
    position: absolute;
    background-color: #653190;
    width: 300px;
    height: 175px;
    border-radius: 0px 200px 200px 0px;
    left: 1300px;
    bottom: 400px;
}

#arrow1 {
    position: absolute;
    bottom: 240px;
    left: 1350px;
    color: rgb(230, 228, 228);
    font-size: 180px;
    z-index: 1;
}

#sc1 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 1550px;
}

#sc2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 1475px;
}

#sc3 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 300px;
    right: 1400px;
}

#sc4 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 150px;
}

#sc5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 225px;
}

#sc6 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

@media (max-width: 375px) and (min-height: 667px) {
    #box-container {
        height: 94vh;
        margin: 5px
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 75px;
        height: 75px;
        top: 270px;
        position: absolute;
        left: 100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 55px;
        height: 55px;
        top: 280px;
        position: absolute;
        left: 110px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #profile-icon {
        width: 190px;
        height: 190px;
        border-radius: 100%;
        right: 70px;
        top: 100px;
        object-fit: cover;
        position: absolute;
        border: 5px solid black
    }

    #greeting {
        font-size: 30px;
        position: absolute;
        color: white;
        font-family: 'Space Mono', monospace;
        left: 40px;
        top: 340px;
    }

    #name {
        font-size: 24px;
        position: absolute;
        color: skyblue;
        font-family: 'Sriracha';
        left: 50px;
        top: 400px;
        font-weight: lighter;
    }

    #button1 {
        position: absolute;
        background-color: white;
        width: 250px;
        height: 40px;
        border-radius: 200px;
        font-size: 25px;
        font-family: 'Space Mono', monospace;
        text-align: left;
        padding-left: 10px;
        color: #653190;
        left: 50px;
        font-weight: bold;
        bottom: 100px;
    }

    #button2 {
        position: absolute;
        background-color: #653190;
        width: 65px;
        height: 40px;
        border-radius: 0px 200px 200px 0px;
        left: 235px;
        bottom: 100px;
    }

    #arrow1 {
        position: absolute;
        bottom: 60px;
        left: 240px;
        color: rgb(230, 228, 228);
        font-size: 45px;
    }
}

@media (max-width: 414px) and (min-height: 896px) {
    #box-container {
        height: 95vh;
        margin: 10px
    }

    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 75px;
        height: 75px;
        top: 320px;
        position: absolute;
        left: 100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 55px;
        height: 55px;
        top: 330px;
        position: absolute;
        left: 110px;
        border-radius: 50%;
        z-index: 4;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #profile-icon {
        width: 190px;
        height: 190px;
        border-radius: 100%;
        right: 90px;
        top: 150px;
        object-fit: cover;
        position: absolute;
        border: 5px solid black
    }

    #greeting {
        font-size: 30px;
        position: absolute;
        color: white;
        font-family: 'Space Mono', monospace;
        left: 50px;
        top: 450px;
    }

    #name {
        font-size: 24px;
        position: absolute;
        color: skyblue;
        font-family: 'Sriracha';
        left: 60px;
        top: 510px;
        font-weight: lighter;
    }

    #button1 {
        position: absolute;
        background-color: white;
        width: 250px;
        height: 40px;
        border-radius: 200px;
        font-size: 25px;
        font-family: 'Space Mono', monospace;
        text-align: left;
        padding-left: 10px;
        color: #653190;
        left: 50px;
        font-weight: bold;
        bottom: 100px;
    }

    #button2 {
        position: absolute;
        background-color: #653190;
        width: 65px;
        height: 40px;
        border-radius: 0px 200px 200px 0px;
        left: 235px;
        bottom: 100px;
    }

    #arrow1 {
        position: absolute;
        bottom: 60px;
        left: 240px;
        color: rgb(230, 228, 228);
        font-size: 45px;
    }
}