#box-container {
    position: relative;
    height: 94vh;
    overflow: hidden;
    background-color: #0A0514;
    margin: 1%;
    padding: 10px;
}

#page2-icon{
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    left: 250px;
    top: 250px;
    object-fit: cover;
    position: absolute;
    border: 20px solid black
}

#circle1 {
    width: 750px;
    height: 750px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: -350px;
    left: -350px;
}

#circle2 {
    width: 600px;
    height: 600px;
    background-color: #0A0514;
    border-radius: 50%;
    position: absolute;
    top: -280px;
    left: -280px;
}

#circle3 {
    background-color: white;
    width: 500px;
    height: 500px;
    bottom: -250px;
    position: absolute;
    right: -250px;
    border-radius: 50%;
    z-index: 3;
}

#circle4 {
    background-color: #0A0514;
    width: 400px;
    height: 400px;
    bottom: -200px;
    position: absolute;
    right: -200px;
    border-radius: 50%;
    z-index: 4;
}

#sc1 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 350px;
}

#sc2 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 275px;
}

#sc3 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    top: 150px;
    right: 200px;
}

#sc4 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 150px;
}

#sc5 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 225px;
}

#sc6 {
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    bottom: 100px;
    left: 300px;
}

#about-me {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    position: absolute;
    font-size: 75px;
    top: 150px;
    left: 1500px;
}

#about-me-text {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    position: absolute;
    left: 1500px;
    top: 350px;
}

#square1 {
    background-color: #C995B8;
    height: 140px;
    width: 650px;
    position: absolute;
    top: 550px;
    left: 2350px;
}

#work-exp {
    font-size: 65px;
    position: absolute;
    top: 500px;
    left: 2375px;
    font-family: 'Space Mono', monospace;
}

#premiere-text {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    font-size: 75px;
    position: absolute;
    top: 600px;
    left: 1500px;
}

#premiere-content {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 800px;
    left: 1040px;
    text-align: center; width: 80%;
}

#skills {
    font-size: 65px;
    position: absolute;
    top: 980px;
    left: 2550px;
    font-family: 'Space Mono', monospace;
}

#square2 {
    background-color: #C995B8;
    height: 125px;
    width: 350px;
    position: absolute;
    bottom: 700px;
    left: 2500px;
}

#python {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    font-size: 75px;
    position: absolute;
    bottom: 400px;
    left: 1500px;
}

#python-content {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 44px;
    position: absolute;
    bottom: 400px;
    left: 1500px;
}

#frontend {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    position: absolute;
    font-size: 75px;
    bottom: 175px;
    left: 1500px;
}

#frontend-content {
    color: white;
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    position: absolute;
    bottom: 150px;
    left: 1500px;
}

#button1 {
    position: absolute;
    bottom: 400px;
    background-color: #ffffff;
    left: 250px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 700px;
    height: 175px;
}

#button2 {
    position: absolute;
    bottom: 200px;
    background-color: #ffffff;
    left: 650px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 700px;
    height: 175px;
}

#button3 {
    position: absolute;
    bottom: 400px;
    background-color: #653190;
    left: 950px;
    justify-content: space-between;
    border-radius: 0px 200px 200px 0px;
    width: 400px;
    height: 175px;
}

#button4 {
    position: absolute;
    bottom: 200px;
    background-color: #653190;
    left: 250px;
    justify-content: space-between;
    border-radius: 200px 0px 0px 200px;
    width: 400px;
    height: 175px;
}

#arrow1 {
    position: absolute;
    bottom: 50px;
    left: 1050px;
    color: rgb(230, 228, 228);
    font-size: 200px;
    z-index: 1;
}

#arrow2 {
    position: absolute;
    bottom: -150px;
    left: 350px;
    color: rgb(255, 255, 255);
    font-size: 200px;
    padding: 5px;
    z-index: 1;
}

#continue {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 425px;
    left: 350px;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
}

#go-back {
    color: #653190;
    font-family: 'Space Mono' , monospace;
    bottom: 225px;
    left: 800px;
    position: absolute;
    font-size: 100px;
    font-weight: bold;
}

@media (min-width: 375px) and (max-height: 667px) {
    #box-container {
        height: 94vh;
        margin: 5px
    }
    
    .line-break {
        display: none;
    }
    
    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #page2-icon {
        width: 100px;
        height: 100px;
        left: 125px;
        position: absolute;
        top: 60px;
        border: 5px solid black;
        border-radius: 100%;
        object-fit: cover;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #about-me {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 10px;
        top: 170px;
        left: 20px;
    }

    #about-me-text {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 9px;
        position: absolute;
        top: 195px;
        left: 20px;
    }
    
    #square1 {
        background-color: #C995B8;
        height: 25px;
        width: 150px;
        position: relative;
        top: 235px;
        left: 95px;
    }

    #work-exp {
        font-size: 15px;
        position: relative;
        top: 168px;
        left: 100px;
        font-family: 'Space Mono', monospace;
    }

    #premiere-text {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 10px;
        top: 260px;
        left: 20px;
    }

    #premiere-content {
        color: white;
        font-size: 9.9px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        top: 285px;
        left: 25px;
    }

    #skills {
        font-size: 15px;
        position: relative;
        top: 243px;
        left: 140px;
        font-family: 'Space Mono', monospace;
    }
    
    #square2 {
        background-color: #C995B8;
        height: 25px;
        width: 100px;
        position: relative;
        top: 320px;
        left: 120px;
    }

    #python {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 10px;
        bottom: 240px;
        left: 20px;
    }

    #python-content {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 9px;
        position: absolute;
        bottom: 220px;
        left: 20px;
    }

    #frontend {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 10px;
        bottom: 190px;
        left: 20px;
    }

    #frontend-content {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 10px;
        position: absolute;
        bottom: 165px;
        left: 20px;
    }

    #button1 {
        position: absolute;
        bottom: 110px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px;
        width: 250px;
        height: 40px;
    }

    #button3 {
        position: absolute;
        bottom: 110px;
        background-color: #653190;
        left: 225px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 75px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 50px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow1 {
        position: absolute;
        bottom: 15px;
        left: 230px;
        color: rgb(230, 228, 228);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #arrow2 {
        position: absolute;
        bottom: -30px;
        left: 60px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #continue {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 115px;
        left: 80px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 170px;
        position: absolute;
        font-size: 20px;
    }
}

@media (max-width: 414px) and (min-height: 896px) {
    #box-container {
        height: 96vh;
        margin: 5px
    }

    .line-break {
        display: none;
    }
    
    #circle1 {
        background-color: white;
        width: 200px;
        height: 200px;
        top: -100px;
        position: absolute;
        left: -100px;
        border-radius: 50%;
        z-index: 1;
    }

    #circle2 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        top: -75px;
        position: absolute;
        left: -75px;
        border-radius: 50%;
        z-index: 2;
    }

    #circle3 {
        background-color: white;
        width: 175px;
        height: 175px;
        bottom: -100px;
        position: absolute;
        right: -100px;
        border-radius: 50%;
        z-index: 3;
    }

    #circle4 {
        background-color: #0A0514;
        width: 150px;
        height: 150px;
        bottom: -90px;
        position: absolute;
        right: -90px;
        border-radius: 50%;
        z-index: 4;
    }

    #page2-icon {
        width: 100px;
        height: 100px;
        left: 140px;
        position: absolute;
        top: 60px;
        border: 5px solid black;
        border-radius: 100%;
        object-fit: cover;
    }

    #sc1 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right:55px;
    }

    #sc2 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 40px;
    }

    #sc3 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 100%;
        top: 30px;
        right: 25px;
    }

    #sc4 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 60px;
    }

    #sc5 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 45px;
    }

    #sc6 {
        background-color: #ffffff;
        width: 10px;
        height: 10px;
        position: absolute;
        border-radius: 50%;
        bottom: 30px;
        left: 30px;
    }

    #about-me {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 20px;
        top: 170px;
        left: 20px;
    }

    #about-me-text {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 10px;
        position: absolute;
        top: 230px;
        left: 20px;
        text-align: center;
        line-height: 1.2;
    }
    
    #square1 {
        background-color: #C995B8;
        height: 40px;
        width: 200px;
        position: relative;
        top: 290px;
        left: 90px;
    }

    #work-exp {
        font-size: 20px;
        position: relative;
        top: 200px;
        left: 100px;
        font-family: 'Space Mono', monospace;
    }

    #premiere-text {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 20px;
        top: 320px;
        left: 20px;
    }

    #premiere-content {
        color: white;
        font-size: 11px;
        font-family: 'Space Mono', monospace;
        position: absolute;
        top: 380px;
        left: 30px;
    }

    #square2 {
        background-color: #C995B8;
        height: 35px;
        width: 100px;
        position: relative;
        top: 420px;
        left: 135px;
    }

    #skills {
        font-size: 20px;
        position: relative;
        top: 320px;
        left: 150px;
        font-family: 'Space Mono', monospace;
    }

    #python {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 20px;
        bottom: 290px;
        left: 20px;
    }

    #python-content {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 11px;
        position: absolute;
        bottom: 270px;
        left: 20px;
    }

    #frontend {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        position: absolute;
        font-size: 20px;
        bottom: 200px;
        left: 20px;
    }

    #frontend-content {
        color: white;
        font-family: 'Space Mono', monospace;
        font-size: 11px;
        position: absolute;
        bottom: 180px;
        left: 20px;
    }

    #button1 {
        position: absolute;
        bottom: 110px;
        background-color: #ffffff;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 150px;
        height: 40px;
    }

    #button2 {
        position: absolute;
        bottom: 65px;
        background-color: #ffffff;
        left: 155px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 150px;
        height: 40px;
    }

    #button3 {
        position: absolute;
        bottom: 110px;
        background-color: #653190;
        left: 230px;
        justify-content: space-between;
        border-radius: 0px 200px 200px 0px;
        width: 75px;
        height: 40px;
    }

    #button4 {
        position: absolute;
        bottom: 65px;
        background-color: #653190;
        left: 80px;
        justify-content: space-between;
        border-radius: 200px 0px 0px 200px;
        width: 75px;
        height: 40px;
    }

    #arrow1 {
        position: absolute;
        bottom: 18px;
        left: 235px;
        color: rgb(230, 228, 228);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #arrow2 {
        position: absolute;
        bottom: -25px;
        left: 90px;
        color: rgb(255, 255, 255);
        font-size: 50px;
        padding: 5px;
        z-index: 1;
    }

    #continue {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 115px;
        left: 100px;
        position: absolute;
        font-size: 20px;
        font-weight: bold;
    }

    #go-back {
        color: #653190;
        font-family: 'Space Mono' , monospace;
        bottom: 70px;
        left: 190px;
        position: absolute;
        font-size: 20px;
    }
}